body, .body-fauxcolumn-outer {
	font: normal normal 14px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
	color: #444444;
	background: #ffffff none repeat scroll top left;
	padding: 0 0 0 0;
}
html body .region-inner {
	min-width: 0;
	max-width: 100%;
	width: auto;
}
a:link {
	text-decoration:none;
	color: #a10000;
}
a:visited {
	text-decoration:none;
	color: #a10000;
}
a:hover {
	text-decoration:underline;
	color: #1d3588;
}
.body-fauxcolumn-outer .fauxcolumn-inner {
	background: transparent none repeat scroll top left;
	_background-image: none;
}
.body-fauxcolumn-outer .cap-top {
	position: absolute;
	z-index: 1;
	height: 400px;
	width: 100%;
	background: #ffffff none repeat scroll top left;
}
.body-fauxcolumn-outer .cap-top .cap-left {
	width: 100%;
	background: transparent none repeat-x scroll top left;
	_background-image: none;
}
.content-outer {
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
	-goog-ms-box-shadow: 0 0 0 #333333;
	box-shadow: 0 0 0 rgba(0, 0, 0, .15);
	margin-bottom: 1px;
}
.content-inner {
	padding: 10px 40px;
}
.content-inner {
	background-color: transparent;
}
/* Header
----------------------------------------------- */
.header-outer {
	background: transparent none repeat-x scroll 0 -400px;
	_background-image: none;
}
.Header h1 {
	font: normal normal 40px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
	color: #000000;
	text-shadow: 0 0 0 rgba(0, 0, 0, .2);
}
.Header h1 a {
	color: #000000;
}
.Header .description {
	font-size: 18px;
	color: #000000;
}
.header-inner .Header .titlewrapper {
	padding: 22px 0;
}
.header-inner .Header .descriptionwrapper {
	padding: 0 0;
}
/* Tabs
----------------------------------------------- */
.tabs-inner .section:first-child {
	border-top: 0 solid transparent;
}
.tabs-inner .section:first-child ul {
	margin-top: -1px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.tabs-inner .widget ul {
	background: transparent none repeat-x scroll 0 -800px;
	_background-image: none;
	border-bottom: 1px solid transparent;
	margin-top: 0;
	margin-left: -30px;
	margin-right: -30px;
}
.tabs-inner .widget li a {
	display: inline-block;
	padding: .6em 1em;
	font: normal normal 20px 'Times New Roman', Times, FreeSerif, serif;
	color: #000000;
	text-decoration: underline;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.tabs-inner .widget li:first-child a {
	border-left: none;
}
.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
	color: #000000;
	background-color: transparent;
	text-decoration: underline;
}
/* Columns
----------------------------------------------- */
.main-outer {
	border-top: 0 solid #f3f3f3;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
	border-right: 1px solid #f3f3f3;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
	border-left: 1px solid #f3f3f3;
}
/* Headings
----------------------------------------------- */
h2 {
	margin: 0 0 1em 0;
	font: normal bold 11px 'Times New Roman', Times, FreeSerif, serif;
	color: #000000;
	text-transform: uppercase;
}
/* Widgets
----------------------------------------------- */
.widget .zippy {
	color: #999999;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}
.widget .popular-posts ul {
	list-style: none;
}
/* Posts
----------------------------------------------- */
.date-header span {
	background-color: transparent;
	color: #000000;
	padding: 0.4em;
	letter-spacing: 3px;
	margin: inherit;
}
.date-header {
	text-align:center !important;
}
.main-inner {
	padding-top: 5px;
	padding-bottom: 65px;
}
.main-inner .column-center-inner {
	padding: 0 0;
}
.main-inner .column-center-inner .section {
	margin: 0 1em;
}
.post {
	margin: 0 0 45px 0;
}
h3.post-title, .comments h4 {
	font: normal normal 36px 'Trebuchet MS', Trebuchet, sans-serif;
	margin: .75em 0 0;
	text-align:center;

}
.post-body {
	font-size: 110%;
	line-height: 1.4;
	position: relative;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img, .BlogList .item-thumbnail img {
	padding: 2px;
	background: transparent;
	border: 1px solid transparent;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
.post-body img, .post-body .tr-caption-container {
	padding: 5px;
}
.post-body .tr-caption-container {
	color: #993636;
}
.post-body .tr-caption-container img {
	padding: 0;
	background: transparent;
	border: none;
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.post-header {
	margin: 0 0 1.5em;
	line-height: 1.6;
	font-size: 90%;
}
.post-footer {
	margin: 20px -2px 0;
	padding: 5px 10px;
	color: transparent;
	background-color: transparent;
	border-bottom: 1px solid transparent;
	line-height: 1.6;
	font-size: 90%;
}
#comments .comment-author {
	padding-top: 1.5em;
	border-top: 1px solid #f3f3f3;
	background-position: 0 1.5em;
}
#comments .comment-author:first-child {
	padding-top: 0;
	border-top: none;
}
.avatar-image-container {
	margin: .2em 0 0;
}
#comments .avatar-image-container img {
	border: 1px solid transparent;
}
/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.comments .comments-content .loadmore a {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
.comments .comment-thread.inline-thread {
	background-color: transparent;
}
.comments .continue {
	border-top: 2px solid #999999;
}
/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
	border-left: 1px solid #f3f3f3;
}
.blog-pager {
	background: transparent url(http://www.blogblog.com/1kt/simple/paging_dot.png) repeat-x scroll top center;
}
.blog-pager-older-link, .home-link, .blog-pager-newer-link {
	background-color: transparent;
	padding: 5px;
}
.footer-outer {
	border-top: 1px #bbbbbb;
}
/* Mobile
----------------------------------------------- */
body.mobile {
	background-size: auto;
}
.mobile .body-fauxcolumn-outer {
	background: transparent none repeat scroll top left;
}
.mobile .body-fauxcolumn-outer .cap-top {
	background-size: 100% auto;
}
.mobile .content-outer {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	box-shadow: 0 0 3px rgba(0, 0, 0, .15);
	padding: 0 0;
}
body.mobile .AdSense {
	margin: 0 -0;
}
.mobile .tabs-inner .widget ul {
	margin-left: 0;
	margin-right: 0;
}
.mobile .post {
	margin: 0;
}
.mobile .main-inner .column-center-inner .section {
	margin: 0;
}
.mobile .date-header span {
	padding: 0.1em 10px;
	margin: 0 -10px;
}
.mobile h3.post-title {
	margin: 0;
}
.mobile .blog-pager {
	background: transparent none no-repeat scroll top center;
}
.mobile .footer-outer {
	border-top: none;
}
.mobile .main-inner, .mobile .footer-inner {
	background-color: transparent;
}
.mobile-index-contents {
	color: #444444;
}
.mobile-link-button {
	background-color: #a10000;
}
.mobile-link-button a:link, .mobile-link-button a:visited {
	color: #ffffff;
}
.mobile .tabs-inner .section:first-child {
	border-top: none;
}
.mobile .tabs-inner .PageList .widget-content {
	background-color: transparent;
	color: #000000;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
	border-left: 1px solid transparent;
}
.PageList {
	text-align:center !important;
}
.PageList li {
	display:inline !important;
	float:none !important;
}
#navbar-iframe {
	display: none !important;
.post-title {
text-align:center;
}
.date-header {
	text-align:center;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}
.post-body img {
	width: 640px;
	height: auto;
}
.post table.tr-caption-container img {
	width: 640px;
	height: auto;
}